:root {
    --bg-color: #1D1D1D;
    --gray-bg-color: #2F2F2F;
    --accent-color: #0A84FF;
    --gray-color: #C4C4C4;
}

/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    background-color: var(--bg-color);
    color: white;
    height: 100%;
}

.App {
    display: flex;
}

.Sidebar {
    background-color: var(--gray-bg-color);
    /* padding: 4em 2em; */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.Sidebar * {
    text-align: start;
    font-weight: normal;
}

.Sidebar h1 {
    margin: 64px 32px;
}

.Sidebar .tag {
    padding: 8px 32px;
}

.Sidebar .tag:hover {
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

.Sidebar .button {
    background-color: var(--accent-color);
    margin: 32px 32px;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.Main, .MoviePage {
    padding: 64px 128px;
    /* flex-grow: 1; */
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.Main .tag-header {
    margin: 32px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Main .tag-header .header {
    flex-grow: 1;
}

.Main .tag-header .material-icons {
    margin-left: 16px;
    font-size: 1.75em;
    cursor: pointer;
}

.Main .search-bar {
    padding: 8px 32px;
    border-radius: 4px;
    border: 0;
}

.Main .search-bar {
    border: 0;
}

.Catalog {
    margin: 32px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 2%;
    align-content: stretch;
}

.Movie {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.Movie .title {
    position: absolute;
    bottom: 0;
    padding: 8px;
    width: 100%;
    text-align: center;
}

.Movie img {
    width: 128px;
    height: 192px;
}

.Movie .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 50%);     
}

.Movie .seen-icon {
    position: absolute;
    font-size: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Movie.watched .gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.5) 100%);     
}

.MoviePage .details {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}

.MoviePage .details img {
    width: 228px;
    /* width: 284px;
    height: 426px; */
    border-radius: 8px;
}

.MoviePage .details .info {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.MoviePage .details .info .description {
    flex-grow: 1;
    text-align: justify;
}

.MoviePage .details .info .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 16px;
}

.MoviePage .details .info .options .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 32px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
}

.MoviePage .details .info .options .button:hover {
    background-color: rgba(255, 255, 255, .5);
}

.MoviePage .details .info .options .button.primary {
    background-color: var(--accent-color);
    border: none;
}

.MoviePage .details .info .options .button.primary:hover {
    background-color: white;
    color: var(--accent-color);
}

.MoviePage .where-to-watch {
    margin: 64px 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: stretch;
}

.MoviePage .where-to-watch .title {
    text-align: center;
}

.MoviePage .where-to-watch .platforms {
    background-color: var(--gray-bg-color);
    padding: 16px 128px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Popup {
    position: relative;
}

.PopupContent {
    position: absolute;
    right: 0;
    background-color: var(--gray-bg-color);
    padding: 32px;
    border-radius: 4px;
    z-index: 10;
    white-space: nowrap;
}

.PopupContent.hidden {
    visibility: hidden;
}

.FilterPopupContent .title  {
    text-align: center;
}

.FilterPopupContent .platforms  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    column-gap: 32px;
}

.FilterPopupContent .platforms .platform-icon {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
}

/* * {
    border: 1px solid red;
} */